.vscode/*
FP_BlockDiagram/*
NRF24L01-Library-dev/Drivers/*
NRF24L01-Library-dev/MDK-ARM/*
NRF24L01-UART-Bridge/Drivers/*
NRF24L01-UART-Bridge/MDK-ARM/*
!*.lst
!*.s
*.jpg
*.docx
*.pdf
*.pub
*.TMP
*.bak
!nRF24L01P_PS_v1.0.pdf
